* {
    margin: 5px;
    padding: 5px;
    background-image: url(images/6.jpg);
}

.login form {
    text-transform: capitalize;
    font-size: 15px;
    font-weight: 800;
    font-style: normal;
}